@page "/"
@inject HttpClient http

@if (quotes is not null)
{
    <div class="flex flex-col items-center justify-center h-screen max-w-screen-md mx-auto">
        <QuoteView Quote="@quotes[0]" />

        <div class="p-12 w-full">
            <TypingInput />
        </div>
    </div>
}


@code {
    private List<Quote>? quotes = null;
    protected async override Task OnInitializedAsync()
    {
        if (quotes is not null) return;
        quotes = await http.GetFromJsonAsync<List<Quote>>("api/v0/quotes.json");
    }
}
