@page "/"
@inject HttpClient http

@if (quotes is not null)
{
    <div class="flex flex-col items-center justify-center h-screen max-w-screen-md mx-auto">
        <QuoteView Quote="@quotes[quoteIndex]" />

        <div class="p-12 w-full">
            <TypingInput />
        </div>
    </div>
}


@code {
    private List<Quote>? quotes = null;
    int quoteIndex = 0;

    protected async override Task OnInitializedAsync()
    {
        if (quotes is not null) return;
        quotes = await http.GetFromJsonAsync<List<Quote>>("api/v0/quotes.json");
        quoteIndex = new Random((int) DateTime.UtcNow.Ticks).Next(minValue: 0, maxValue: quotes?.Count ?? 0 - 1);
    }
}
